<settings>
  <servers>
    <server>
      <id>archiva.internal</id>
      <username>admin</username>
      <password>admin123</password>
    </server>
    <server>
      <id>archiva.snapshots</id>
      <username>admin</username>
      <password>admin</password>
    </server>
  </servers>
</settings>
